<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!-- 使用驼峰命名规则 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <package name="cc.blog.model"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://120.79.44.158:3306/mybatis"/>
                <!--<property name="url" value="jdbc:mysql://120.79.44.158:3306/pjweb"/>-->
                <property name="username" value="root"/>
                <property name="password" value="8023"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<mapper resource="mapper/UserMapper.xml"/>-->
        <!--<mapper class="cc.blog.mapper.UserMapper"/>-->
        <package name="cc.blog.mapper"/>
    </mappers>

</configuration>