<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.blog.mapper.FileMapper">
    
    <select id="getFile" resultType="UpdateSub">
        SELECT * FROM UPDATE_SUB WHERE filepath like CONCAT(#{filepath},'%')  AND PARENTNAME='1' AND RECENTVERSION='1';
    </select>

</mapper>